<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{layout :: head}"></head>
<body>
<header th:replace="~{layout :: header}"></header>
<main>
    <div class="container mt-5 recipe-card">
        <h2 class="mb-4">🔍 Select preferences for a family meal plan</h2>

        <form th:action="@{/plans/create/family}" method="post" class="mb-5">

            <!-- Kitchen Types (Checkboxes) -->
            <div class="mb-3">
                <label class="form-label">Select Kitchen Types:</label>
                <div class="form-check" th:each="type : ${kitchenTypes}">
                    <input class="form-check-input" type="checkbox" th:name="kitchenTypes"
                           th:value="${type}" th:id="${type}">
                    <label class="form-check-label" th:for="${type}" th:text="${type}">Kitchen</label>
                </div>
            </div>

            <!-- Max Duration (Minutes) -->
            <div class="mb-3">
                <label for="maxDurationHours" class="form-label">Max Duration of cooking (hours):</label>
                <input type="number" class="form-control" id="maxDurationHours" name="maxDurationHours" min="1">
            </div>

            <!-- Number of Family Members -->
            <div class="mb-3">
                <label for="familyMembers" class="form-label">Number of Family Members:</label>
                <input type="number" class="form-control" id="familyMembers" name="familyMembers" min="1" required>
            </div>

            <button type="submit" class="btn btn-cute">Apply Filters</button>
        </form>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>
